<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="ReST Editor"
            extensions="rst"
            icon="icons/rst.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="rested.editors.ReSTEd"
            id="rested.editors.ReSTEd">
      </editor>
   </extension>

</plugin>
